html{
    background-color: brown;
}
p{
   color:bisque 
}
#p1{
    color: aquamarine;
    width: max-content;
    font-weight: 800;
}
/*child of class*/
.container>p{
color:green;
}
ul >li {
    color: burlywood;

}
ul > li:hover{
    color: aquamarine;
    cursor: pointer;
}
ol>li{
    color: antiquewhite;
}
.container{
    display: flex;
    background-color: blanchedalmond;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
    
.child{
    flex-wrap: wrap;    
}
.form_class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}